<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>FusionCharts Sample</title>
    <style media="screen">
      #chart-location {
        height: 600px;
      }
      #header{
        background-color:#20446a;
      }
      #logoname{
        color: white;
        font-family: helvetica;
        padding-right: 0px;
        font-weight: bold;

      }

      #subheader{
        font-size: 18px;
        color: #595959;
        margin-bottom: 30px;
        font-family: "Sans Thirteen Black";
        font-weight: bold;
      }

      li {
        float: left;
        margin: 10px 10px 10px 10px;
        text-align: center;
        width: 90px;

      }

      #chartselector{
        margin-bottom: 30px;
      }

      #icontitle{
        font-family: helvetica;
        color: #666;
        font-size: 12px;
        word-break: break-all;

      }

      .row{
        background-color: #dae7ef;
        border: 1px solid #ddd;
      }

      #containerheader{

        margin : 0px;
        padding: 0px;
        padding: 0px;
        height: 35px;
        line-height: 35px;
        background-color: #dae7ef;
        border: 1px solid #ddd;
        font-style: Helvetica;

      }

    </style>
</head>
<body>
  <nav class="navbar navbar-inverse" id="header">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

        </button>
        <a class="navbar-brand" href="#" id="logoname">AppData</a>
        <img src="../images/android.png" alt="android" style="width:45px;height:45px;">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>
  </nav>


    <div class="container">
      {{{body}}}
<!-- <script id="table-template" type="text/html">
</script> -->
<!--
    <div class="tablecontainer">
      {{{body}}}
    </div> -->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script src="js/worldmap.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/fusioncharts.js"></script>
    <script type="text/javascript" src="js/themes/fusioncharts.theme.fint.js"></script>

</body>
</html>
